<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Monitoring serwera</title>
  </head>
  <body>
    <div id="linkDoMonitoringu">
      <a href="https://cloud.mongodb.com/freemonitoring/cluster/VR37AVBI2KKEJZBD67BCWZFYSUV2AFLQ">Przejdź do strony monitoringu</a>
    </div>
  </body>
</html>