<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tablica ogłoszeń rodzinnych</title>
    <link rel="stylesheet" href="/css/style_tablica.css">
  </head>
  <body>
    <div class="kontener">
        <div class="naglowek">
            naglowek
        </div>
        <div class="tablica">
            tablica
        </div>
        <div class="edytor">
            edytor
        </div>
    </div>
    </body>
  <script src="/skrypty/skrypt_tablica.js"></script>
</html>